


<html>
  <head>

    <style>
      .container {
        height: 200px;
        position: relative;
        border: 3px solid black;
        top:300px;
      }
      .text-center {
        top:80px;

      }
      .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      </style>

    <meta name="google-signin-client_id" content="228423285676-0qakui6asjgpgeudhfpvk4aikh19ng2s.apps.googleusercontent.com">
  
    <!-- Minified CSS and JS -->
  <link   rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous">
  </script>
  
  
  </head>
  <body>


    <div class="container">
      <div class="row">
        <div class="col text-center">
    <a class="btn btn-outline-dark" href="/index" role="button" style="text-transform:none">
      <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Login with Google
    </a>
  </div>
</div>
</div>

<!-- Minified CSS and JS -->
<link   rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>


</body>
</html>